<header *ngIf="headerArticle">
  <article-card
    [article]="headerArticle"
    (click)="openArticle(headerArticle)"
  ></article-card>
</header>

<section>
  <header>
    <strong>Latest Articles</strong>

    <category-selector
      [(selected)]="selectedCategory"
      [categories]="categories"
    ></category-selector>

    <input
      [(ngModel)]="rawSearchKey"
      type="text"
      placeholder="Search Article"
    />
  </header>

  <article-list [list]="filteredArticles"></article-list>
</section>
